.flex {
  display: flex;

  &.row {
    flex-direction: row;
    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &.sm\:column {
    @media(max-width: 37em) {
    flex-direction: column;
      &.reverse {
        flex-direction: column-reverse;
      }  
    }
  }
  &.column {
    flex-direction: column;
    &.reverse {
      flex-direction: column-reverse;
    }
  }

  &.space-between {
    justify-content: space-between;
  }

  &.wrap {
    flex-wrap: wrap;
  }

}