.intro {
	/* Default is a single column layout where the header overlaps the media */
	display: grid;
	grid-template-rows: var(--size-700) minmax(0, 1fr) var(--size-700) auto;
	grid-gap: var(--size-500);

	/* Force items to span 1 column */
	& > * {
		grid-column: 1;
	}

  & .intro__header {
    padding: var(--size-300) 0;
    background: rgba(var(--color-tertiary), 0.95);
    z-index: 1;
    grid-row: 2;
    margin: 0; /* Adds a horizontal gutter */

    /* Prevents it from stretching to fill the space */
    align-self: center;
  }

  & .intro__heading {
    

    & em {
      font-style: normal;
      display: block;

      /* The weight change creates a weird indent, so this */
      /* optical adjustment fixes it */
      transform: translateX(-3px);
    }
  }

  & .intro__content {
    grid-row: 4;

   & p {
      max-width: 30ch;
    }
  }
  
  /* MEDIUM */
  @media (min-width: 37em ) {

    grid-template-rows: var(--size-500) auto auto auto;
    grid-template-columns: minmax(15rem, 1fr) 2fr;

    & .intro__header {
      padding: var(--size-500);
      margin: 0 auto;
      grid-column: 1/3;
      justify-self: start;
      align-self: end;
    }

    & .intro__content {
      grid-row: 3/4;
      grid-column: 2;
      & p {
        text-align: center;
      }
    }
  }
}

.intro__media {
  
  position: fixed;
  inset: 0;
  min-height: min(38rem, 40vh);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .button {
    @media (max-width: 37em) {
      display: none;
    }
    position: absolute;
    inset: 50% auto auto 50%;
    width: min-content;
    height: min-content;
    translate: -50%;
    backdrop-filter: blur(3px);
    color: white;
    &:hover {
      backdrop-filter: blur(.5ex);
    }
  }
  @media (min-width: 37em) {
    & .button {
      inset: 0;
      opacity: 0;
      scale: 0;
      translate: calc(var(--x) * 1px - 50%) calc(var(--y) * 1px - 50%);
      transition: opacity, scale, translate, all;
      transition-duration: .2s, .2s, .75s;
      transition-timing-function: ease, ease, linear(0, 0.007 0.9%, 0.028 1.9%, 0.12 4.2%, 0.632 12.7%, 0.839 16.9%, 0.916 19%, 0.976 21.1%, 1.021 23.3%, 1.053 25.7%, 1.073 28.8%, 1.074 32.5%, 1.013 47.4%, 0.996 56.8%, 1);
      animation-delay: 0s, 0s, 0s;
    }
    &:hover{
      & .button {
        inset: 0 auto auto 0;
        position: absolute; 
        opacity: 1;
        scale: 1;
      }
    }
  }
}

  /* LARGE */
  /*  Because it's so large, it makes sense to limit the image height too */
  /* @media(min-width: 62em) {
    & .intro__media {
      height: min(38rem, 40vh);
    }
  } */